<div class="container" style="margin-top: 5%">
  <% @movies.each do |movie| %>
    <div class="box" style="width:75%;">
      <article class="media">
        <div class="media-left">
          <figure class="image is-64x64">
            <img src="http://placehold.it/128x128" alt="Image">
          </figure>
        </div>
        <div class="media-content">
          <div class="content">
            <p>
              <strong><%= movie.title %></strong> <small><%= movie.user.username %></small> <small><%= time_ago_in_words(movie.created_at) %></small>
              <br>
              <%= movie.description %>
            </p>
          </div>
          <nav class="level">
            <div class="level-left">
              <%= link_to 'Show', movie_path(movie), class: 'level-item' %>
              <%= link_to 'Edit', edit_movie_path(movie), class: 'level-item' %>
              <%= link_to 'Delete', movie_path(movie), method: :delete, data: {confirm: 'Are you sure?'}, class: 'level-item' %>
              
            </div>
          </nav>
        </div>
      </article>
    </div>
  <% end %>
</div>