<div class="container" style="margin-top: 5%;">
  <div class="columns">
    <div class="column" style="display: flex; justify-content: center;">
      <div class="card">
        <div class="card-image">
          <figure class="image is-4by3">
            <img src="http://placehold.it/300x225" alt="">
          </figure>
        </div>
        <div class="card-content">
          <div class="media">
            <div class="media-left">
              <figure class="image is-32x32">
                <img src="http://placehold.it/64x64" alt="Image">
              </figure>
            </div>
            <div class="media-content">
              <p class="title is-5"><%= @movie.title %></p>
              <p class="subtitle is-6">posted by <%= @movie.user.username %></p>
            </div>
          </div>

          <div class="content">
            <%= @movie.description %>
            <br>
            <small><%= time_ago_in_words(@movie.created_at) %></small>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- REVIEW BOXES -->
  <div class="columns">
    <div class="column">
      <h3 class="title">Reviews</h3>
      <!-- REVIEW FORM -->
      <%= form_for [@movie, @movie.reviews.build] do |f| %>
        <%= f.text_field :body %>
        <%= f.submit :submit %>
      <% end %>
      <% if @movie.reviews.count > 0 %>
        <% @movie.reviews.each do |review| %>
          <h4 class="title"><%= review.body %></h4>
        <% end %>
      <% end %>
    </div>
  </div>
</div>