<!DOCTYPE html>
<html>
  <head>
    <title>MovieReviews</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag     'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag     'https://cdnjs.cloudflare.com/ajax/libs/bulma/0.2.3/css/bulma.min.css' %>
    <%= javascript_include_tag  'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav class="nav" style="padding: 1.5%;">
      <div class="nav-left">
        <%= link_to 'Home', root_path, class: 'button' %>
      </div>

      <div class="nav-right nav-menu">
        <p class="control has-addons">
          <%= form_tag movies_path, method: :get do %>
            <p class="control has-addons">
              <%= text_field_tag :search, params[:search], placeholder: 'Search movies', class: 'input' %>
              <%= submit_tag 'Search', name: nil, class: 'button' %>
            </p>
          <% end%>
        </p>
        <%= link_to 'New Movie', new_movie_path, class: 'nav-item button is-link' %>
      </div>
    </nav>
    <%= yield %>
  </body>
</html>
